body {
    font-family: 'Source Sans Pro';
    background:red;
    margin:0;
    color:white;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 60% 40%;
    grid-template-areas: 
    "header"
    "body"
    "footer"
}

a {
    text-decoration:none;
    color:red;
    font-size:1.8em;
    font-weight:700;
}
img { 
    width:150px;
}
header {
    background:#FFFFFF;
    padding: 1em;
}

.container {
    display: grid;
    grid-template-columns: 66% auto;
    padding: 4em 1em;
}

footer {
    background:#571212;
}

ul {
    margin:0;padding:0;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    list-style-type: none;
}
ul li {
    padding: 2em;
    color:#E98A8A;
}
ul li span {
    display:block;
    font-size:1.4em;
    margin-bottom:1em;
    color: white;
}

@media screen and (max-width: 480px) {
    ul {
        grid-template-columns: auto;
        grid-template-rows: auto;
    }
    img {width: 100%;}
}

@media (min-width: 481px ) and (max-width: 600px) {
    ul {
        grid-template-columns: repeat(2, auto);
        grid-template-rows: auto;
    }
    img {width: 100%;}
}